# Intro
<center/>
### ** Name:*Eman AHMAD**
**BBIT**  
- [Email]-(emanahmad2618@gmail.com)
- [GitHub]-(https://github.com/E32546)
- <center/>

In [5]:
#Install Libraries 
%pip install pandas

Requirement already satisfied: pandas in c:\users\eman_ai&ml\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\eman_ai&ml\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\eman_ai&ml\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\eman_ai&ml\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\eman_ai&ml\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\eman_ai&ml\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
#importing libraries
import pandas as pd

Loading Dataset

In [12]:
#loading CSV file
pd.read_csv("book1.csv")

        Name Destination Gender    Age     Salary
0   Mukhatir   Professor      M   37.0   115000.0
1      Azziz     Teacher      M   30.0    35000.0
2     Moshin    ENGINEER      M   29.0    50000.0
3     Naveed     Analyst      F   30.0    70000.0
4      Babar    Engineer      F   25.0  1500000.0
5       Aqsa   Scientist      F   22.0        NaN
6      Rafia     Analyst      F   29.0    20000.0
7      Samra   Scientist      F   26.0   115000.0
8       Eman    Engineer      F   28.0    35000.0
9   Abdullah     Teacher      M   55.0        NaN
10     Mosib   professor      M   60.0    70000.0
11     Ahmed    engineer      M    NaN    90000.0
12     Ashan     trainer      M  156.0   110000.0
13     Wajid     teacher      M   67.0     2000.0
14     Naeem     tranier      M   80.0    16000.0
15    Qaisar   professor      M   20.0   170000.0
16     Wajid    Engineer      M   85.0   190000.0

In [14]:
df=pd.read_csv('book1.csv')

Prewive data set

In [15]:
df

        Name Destination Gender    Age     Salary
0   Mukhatir   Professor      M   37.0   115000.0
1      Azziz     Teacher      M   30.0    35000.0
2     Moshin    ENGINEER      M   29.0    50000.0
3     Naveed     Analyst      F   30.0    70000.0
4      Babar    Engineer      F   25.0  1500000.0
5       Aqsa   Scientist      F   22.0        NaN
6      Rafia     Analyst      F   29.0    20000.0
7      Samra   Scientist      F   26.0   115000.0
8       Eman    Engineer      F   28.0    35000.0
9   Abdullah     Teacher      M   55.0        NaN
10     Mosib   professor      M   60.0    70000.0
11     Ahmed    engineer      M    NaN    90000.0
12     Ashan     trainer      M  156.0   110000.0
13     Wajid     teacher      M   67.0     2000.0
14     Naeem     tranier      M   80.0    16000.0
15    Qaisar   professor      M   20.0   170000.0
16     Wajid    Engineer      M   85.0   190000.0

In [16]:
#install Excel libraries
%pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\eman_ai&ml\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\eman_ai&ml\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\eman_ai&ml\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\eman_ai&ml\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\eman_ai&ml\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\eman_ai&ml\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: et-xmlfile in c:\users\eman_ai&ml\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\eman_ai&ml\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [18]:
#loading CSV file
pd.read_excel("book1.xlsx")

        Name Destination Gender    Age     Salary
0   Mukhatir   Professor      M   37.0   115000.0
1      Azziz     Teacher      M   30.0    35000.0
2     Moshin    ENGINEER      M   29.0    50000.0
3     Naveed     Analyst      F   30.0    70000.0
4      Babar    Engineer      F   25.0  1500000.0
5       Aqsa   Scientist      F   22.0        NaN
6      Rafia     Analyst      F   29.0    20000.0
7      Samra   Scientist      F   26.0   115000.0
8       Eman    Engineer      F   28.0    35000.0
9   Abdullah     Teacher      M   55.0        NaN
10     Mosib   professor      M   60.0    70000.0
11     Ahmed    engineer      M    NaN    90000.0
12     Ashan     trainer      M  156.0   110000.0
13     Wajid     teacher      M   67.0     2000.0
14     Naeem     tranier      M   80.0    16000.0
15    Qaisar   professor      M   20.0   170000.0
16     Wajid    Engineer      M   85.0   190000.0

In [20]:
df.head(1)

       Name Destination Gender   Age    Salary
0  Mukhatir   Professor      M  37.0  115000.0

In [21]:
df.tail(2)

      Name Destination Gender   Age    Salary
15  Qaisar   professor      M  20.0  170000.0
16   Wajid    Engineer      M  85.0  190000.0

In [22]:
df.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
Name,Mukhatir,Azziz,Moshin,Naveed,Babar,Aqsa,Rafia,Samra,Eman,Abdullah,Mosib,Ahmed,Ashan,Wajid,Naeem,Qaisar,Wajid
Destination,Professor,Teacher,ENGINEER,Analyst,Engineer,Scientist,Analyst,Scientist,Engineer,Teacher,professor,engineer,trainer,teacher,tranier,professor,Engineer
Gender,M,M,M,F,F,F,F,F,F,M,M,M,M,M,M,M,M
Age,37.0,30.0,29.0,30.0,25.0,22.0,29.0,26.0,28.0,55.0,60.0,NaN,156.0,67.0,80.0,20.0,85.0
Salary,115000.0,35000.0,50000.0,70000.0,1500000.0,NaN,20000.0,115000.0,35000.0,NaN,70000.0,90000.0,110000.0,2000.0,16000.0,170000.0,190000.0

In [23]:
df.aggregate

<bound method DataFrame.aggregate of         Name Destination Gender    Age     Salary
0   Mukhatir   Professor      M   37.0   115000.0
1      Azziz     Teacher      M   30.0    35000.0
2     Moshin    ENGINEER      M   29.0    50000.0
3     Naveed     Analyst      F   30.0    70000.0
4      Babar    Engineer      F   25.0  1500000.0
5       Aqsa   Scientist      F   22.0        NaN
6      Rafia     Analyst      F   29.0    20000.0
7      Samra   Scientist      F   26.0   115000.0
8       Eman    Engineer      F   28.0    35000.0
9   Abdullah     Teacher      M   55.0        NaN
10     Mosib   professor      M   60.0    70000.0
11     Ahmed    engineer      M    NaN    90000.0
12     Ashan     trainer      M  156.0   110000.0
13     Wajid     teacher      M   67.0     2000.0
14     Naeem     tranier      M   80.0    16000.0
15    Qaisar   professor      M   20.0   170000.0
16     Wajid    Engineer      M   85.0   190000.0>

In [24]:
df.abs

<bound method NDFrame.abs of         Name Destination Gender    Age     Salary
0   Mukhatir   Professor      M   37.0   115000.0
1      Azziz     Teacher      M   30.0    35000.0
2     Moshin    ENGINEER      M   29.0    50000.0
3     Naveed     Analyst      F   30.0    70000.0
4      Babar    Engineer      F   25.0  1500000.0
5       Aqsa   Scientist      F   22.0        NaN
6      Rafia     Analyst      F   29.0    20000.0
7      Samra   Scientist      F   26.0   115000.0
8       Eman    Engineer      F   28.0    35000.0
9   Abdullah     Teacher      M   55.0        NaN
10     Mosib   professor      M   60.0    70000.0
11     Ahmed    engineer      M    NaN    90000.0
12     Ashan     trainer      M  156.0   110000.0
13     Wajid     teacher      M   67.0     2000.0
14     Naeem     tranier      M   80.0    16000.0
15    Qaisar   professor      M   20.0   170000.0
16     Wajid    Engineer      M   85.0   190000.0>

In [25]:
df.add_prefix

<bound method NDFrame.add_prefix of         Name Destination Gender    Age     Salary
0   Mukhatir   Professor      M   37.0   115000.0
1      Azziz     Teacher      M   30.0    35000.0
2     Moshin    ENGINEER      M   29.0    50000.0
3     Naveed     Analyst      F   30.0    70000.0
4      Babar    Engineer      F   25.0  1500000.0
5       Aqsa   Scientist      F   22.0        NaN
6      Rafia     Analyst      F   29.0    20000.0
7      Samra   Scientist      F   26.0   115000.0
8       Eman    Engineer      F   28.0    35000.0
9   Abdullah     Teacher      M   55.0        NaN
10     Mosib   professor      M   60.0    70000.0
11     Ahmed    engineer      M    NaN    90000.0
12     Ashan     trainer      M  156.0   110000.0
13     Wajid     teacher      M   67.0     2000.0
14     Naeem     tranier      M   80.0    16000.0
15    Qaisar   professor      M   20.0   170000.0
16     Wajid    Engineer      M   85.0   190000.0>

In [26]:
df.add_suffix

<bound method NDFrame.add_suffix of         Name Destination Gender    Age     Salary
0   Mukhatir   Professor      M   37.0   115000.0
1      Azziz     Teacher      M   30.0    35000.0
2     Moshin    ENGINEER      M   29.0    50000.0
3     Naveed     Analyst      F   30.0    70000.0
4      Babar    Engineer      F   25.0  1500000.0
5       Aqsa   Scientist      F   22.0        NaN
6      Rafia     Analyst      F   29.0    20000.0
7      Samra   Scientist      F   26.0   115000.0
8       Eman    Engineer      F   28.0    35000.0
9   Abdullah     Teacher      M   55.0        NaN
10     Mosib   professor      M   60.0    70000.0
11     Ahmed    engineer      M    NaN    90000.0
12     Ashan     trainer      M  156.0   110000.0
13     Wajid     teacher      M   67.0     2000.0
14     Naeem     tranier      M   80.0    16000.0
15    Qaisar   professor      M   20.0   170000.0
16     Wajid    Engineer      M   85.0   190000.0>

In [27]:
df.agg

<bound method DataFrame.aggregate of         Name Destination Gender    Age     Salary
0   Mukhatir   Professor      M   37.0   115000.0
1      Azziz     Teacher      M   30.0    35000.0
2     Moshin    ENGINEER      M   29.0    50000.0
3     Naveed     Analyst      F   30.0    70000.0
4      Babar    Engineer      F   25.0  1500000.0
5       Aqsa   Scientist      F   22.0        NaN
6      Rafia     Analyst      F   29.0    20000.0
7      Samra   Scientist      F   26.0   115000.0
8       Eman    Engineer      F   28.0    35000.0
9   Abdullah     Teacher      M   55.0        NaN
10     Mosib   professor      M   60.0    70000.0
11     Ahmed    engineer      M    NaN    90000.0
12     Ashan     trainer      M  156.0   110000.0
13     Wajid     teacher      M   67.0     2000.0
14     Naeem     tranier      M   80.0    16000.0
15    Qaisar   professor      M   20.0   170000.0
16     Wajid    Engineer      M   85.0   190000.0>

In [28]:
df.median

<bound method DataFrame.median of         Name Destination Gender    Age     Salary
0   Mukhatir   Professor      M   37.0   115000.0
1      Azziz     Teacher      M   30.0    35000.0
2     Moshin    ENGINEER      M   29.0    50000.0
3     Naveed     Analyst      F   30.0    70000.0
4      Babar    Engineer      F   25.0  1500000.0
5       Aqsa   Scientist      F   22.0        NaN
6      Rafia     Analyst      F   29.0    20000.0
7      Samra   Scientist      F   26.0   115000.0
8       Eman    Engineer      F   28.0    35000.0
9   Abdullah     Teacher      M   55.0        NaN
10     Mosib   professor      M   60.0    70000.0
11     Ahmed    engineer      M    NaN    90000.0
12     Ashan     trainer      M  156.0   110000.0
13     Wajid     teacher      M   67.0     2000.0
14     Naeem     tranier      M   80.0    16000.0
15    Qaisar   professor      M   20.0   170000.0
16     Wajid    Engineer      M   85.0   190000.0>

In [29]:
df.from_dict

In [30]:
df.mean

<bound method DataFrame.mean of         Name Destination Gender    Age     Salary
0   Mukhatir   Professor      M   37.0   115000.0
1      Azziz     Teacher      M   30.0    35000.0
2     Moshin    ENGINEER      M   29.0    50000.0
3     Naveed     Analyst      F   30.0    70000.0
4      Babar    Engineer      F   25.0  1500000.0
5       Aqsa   Scientist      F   22.0        NaN
6      Rafia     Analyst      F   29.0    20000.0
7      Samra   Scientist      F   26.0   115000.0
8       Eman    Engineer      F   28.0    35000.0
9   Abdullah     Teacher      M   55.0        NaN
10     Mosib   professor      M   60.0    70000.0
11     Ahmed    engineer      M    NaN    90000.0
12     Ashan     trainer      M  156.0   110000.0
13     Wajid     teacher      M   67.0     2000.0
14     Naeem     tranier      M   80.0    16000.0
15    Qaisar   professor      M   20.0   170000.0
16     Wajid    Engineer      M   85.0   190000.0>

In [31]:
df.truncate

<bound method NDFrame.truncate of         Name Destination Gender    Age     Salary
0   Mukhatir   Professor      M   37.0   115000.0
1      Azziz     Teacher      M   30.0    35000.0
2     Moshin    ENGINEER      M   29.0    50000.0
3     Naveed     Analyst      F   30.0    70000.0
4      Babar    Engineer      F   25.0  1500000.0
5       Aqsa   Scientist      F   22.0        NaN
6      Rafia     Analyst      F   29.0    20000.0
7      Samra   Scientist      F   26.0   115000.0
8       Eman    Engineer      F   28.0    35000.0
9   Abdullah     Teacher      M   55.0        NaN
10     Mosib   professor      M   60.0    70000.0
11     Ahmed    engineer      M    NaN    90000.0
12     Ashan     trainer      M  156.0   110000.0
13     Wajid     teacher      M   67.0     2000.0
14     Naeem     tranier      M   80.0    16000.0
15    Qaisar   professor      M   20.0   170000.0
16     Wajid    Engineer      M   85.0   190000.0>

In [33]:
df.loc[8:9]

       Name Destination Gender   Age   Salary
8      Eman    Engineer      F  28.0  35000.0
9  Abdullah     Teacher      M  55.0      NaN

In [2]:
import json

In [8]:
with open("sample1.json", "r") as file:
    data = json.load(file)

In [9]:
print(data)

{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}

In [10]:
%pip install pymupdf

Collecting pymupdf
  Downloading pymupdf-1.25.1-cp39-abi3-win_amd64.whl.metadata (3.4 kB)
Downloading pymupdf-1.25.1-cp39-abi3-win_amd64.whl (16.6 MB)
   ---------------------------------------- 0.0/16.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.6 MB ? eta -:--:--
    --------------------------------------- 0.3/16.6 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.6 MB 1.7 MB/s eta 0:00:10
   - -------------------------------------- 0.8/16.6 MB 1.2 MB/s eta 0:00:14
   -- ------------------------------------- 1.0/16.6 MB 1.1 MB/s eta 0:00:14
   -- ------------------------------------- 1.0/16.6 MB 1.1 MB/s eta 0:00:14
   --- ------------------------------------ 1.3/16.6 MB 1.1 MB/s eta 0:00:15
   --- ------------------------------------ 1.6/16.6 MB 1.0 MB/s eta 0:00:15
   --- ------------------------------------ 1.6/16.6 MB 1.0 MB/s eta 0:00:15
   ---- ----------------------------------- 1.8/16.6 MB 945.6 kB/s eta 0:00:16
   ---- ----------------------------------- 1.8/16.6 MB 945.6 kB/s eta 0:00:16
   ----- ---------------------------------- 2.1/16.6 MB 893.7 kB/s eta 0:00:17
   ----- ---------------------------------- 2.1/16.6 MB 893.7 kB/s eta 0:00:17
   ----- ---------------------------------- 2.1/16.6 MB 893.7 kB/s eta 0:00:17
   ----- ---------------------------------- 2.1/16.6 MB 893.7 kB/s eta 0:00:17
   ----- ---------------------------------- 2.1/16.6 MB 893.7 kB/s eta 0:00:17
   ----- ---------------------------------- 2.1/16.6 MB 893.7 kB/s eta 0:00:17
   ----- ---------------------------------- 2.4/16.6 MB 627.6 kB/s eta 0:00:23
   ----- ---------------------------------- 2.4/16.6 MB 627.6 kB/s eta 0:00:23
   ----- ---------------------------------- 2.4/16.6 MB 627.6 kB/s eta 0:00:23
   ----- ---------------------------------- 2.4/16.6 MB 627.6 kB/s eta 0:00:23
   ------ --------------------------------- 2.6/16.6 MB 563.6 kB/s eta 0:00:25
   ------ --------------------------------- 2.6/16.6 MB 563.6 kB/s eta 0:00:25
   ------ --------------------------------- 2.9/16.6 MB 549.2 kB/s eta 0:00:25
   ------ --------------------------------- 2.9/16.6 MB 549.2 kB/s eta 0:00:25
   ------ --------------------------------- 2.9/16.6 MB 549.2 kB/s eta 0:00:25
   ------- -------------------------------- 3.1/16.6 MB 537.5 kB/s eta 0:00:25
   ------- -------------------------------- 3.1/16.6 MB 537.5 kB/s eta 0:00:25
   ------- -------------------------------- 3.1/16.6 MB 537.5 kB/s eta 0:00:25
   ------- -------------------------------- 3.1/16.6 MB 537.5 kB/s eta 0:00:25
   -------- ------------------------------- 3.4/16.6 MB 515.1 kB/s eta 0:00:26
   -------- ------------------------------- 3.4/16.6 MB 515.1 kB/s eta 0:00:26
   -------- ------------------------------- 3.7/16.6 MB 509.6 kB/s eta 0:00:26
   -------- ------------------------------- 3.7/16.6 MB 509.6 kB/s eta 0:00:26
   -------- ------------------------------- 3.7/16.6 MB 509.6 kB/s eta 0:00:26
   --------- ------------------------------ 3.9/16.6 MB 512.8 kB/s eta 0:00:25
   --------- ------------------------------ 3.9/16.6 MB 512.8 kB/s eta 0:00:25
   ---------- ----------------------------- 4.2/16.6 MB 519.6 kB/s eta 0:00:24
   ---------- ----------------------------- 4.5/16.6 MB 529.4 kB/s eta 0:00:23
   ---------- ----------------------------- 4.5/16.6 MB 529.4 kB/s eta 0:00:23
   ----------- ---------------------------- 4.7/16.6 MB 539.3 kB/s eta 0:00:22
   ----------- ---------------------------- 4.7/16.6 MB 539.3 kB/s eta 0:00:22
   ------------ --------------------------- 5.0/16.6 MB 545.9 kB/s eta 0:00:22
   ------------ --------------------------- 5.0/16.6 MB 545.9 kB/s eta 0:00:22
   ------------ --------------------------- 5.2/16.6 MB 548.9 kB/s eta 0:00:21
   ------------ --------------------------- 5.2/16.6 MB 548.9 kB/s eta 0:00:21
   ------------- -------------------------- 5.5/16.6 MB 544.1 kB/s eta 0:00:21
   ------------- -------------------------- 5.5/16.6 MB 544.1 kB/s eta 0:00:21
   ------------- -------------------------- 5.5/16.6 MB 544.1 kB/s eta 0:00:21
   ------------- -------------------------- 5.8/16.6 MB 545.1 kB/s eta 0:00:20
   -------------- ------------------------- 6.0/16.6 MB 550.1 kB/s eta 0:00:20
   -------------- ------------------------- 6.0/16.6 MB 550.1 kB/s eta 0:00:20
   --------------- ------------------------ 6.3/16.6 MB 557.4 kB/s eta 0:00:19
   --------------- ------------------------ 6.3/16.6 MB 557.4 kB/s eta 0:00:19
   --------------- ------------------------ 6.6/16.6 MB 564.2 kB/s eta 0:00:18
   ---------------- ----------------------- 6.8/16.6 MB 572.5 kB/s eta 0:00:18
   ----------------- ---------------------- 7.1/16.6 MB 581.2 kB/s eta 0:00:17
   ----------------- ---------------------- 7.1/16.6 MB 581.2 kB/s eta 0:00:17
   ----------------- ---------------------- 7.3/16.6 MB 583.8 kB/s eta 0:00:16
   ----------------- ---------------------- 7.3/16.6 MB 583.8 kB/s eta 0:00:16
   ----------------- ---------------------- 7.3/16.6 MB 583.8 kB/s eta 0:00:16
   ------------------ --------------------- 7.6/16.6 MB 579.1 kB/s eta 0:00:16
   ------------------ --------------------- 7.6/16.6 MB 579.1 kB/s eta 0:00:16
   ------------------ --------------------- 7.6/16.6 MB 579.1 kB/s eta 0:00:16
   ------------------ --------------------- 7.9/16.6 MB 573.9 kB/s eta 0:00:16
   ------------------ --------------------- 7.9/16.6 MB 573.9 kB/s eta 0:00:16
   ------------------- -------------------- 8.1/16.6 MB 573.5 kB/s eta 0:00:15
   ------------------- -------------------- 8.1/16.6 MB 573.5 kB/s eta 0:00:15
   ------------------- -------------------- 8.1/16.6 MB 573.5 kB/s eta 0:00:15
   -------------------- ------------------- 8.4/16.6 MB 561.8 kB/s eta 0:00:15
   -------------------- ------------------- 8.4/16.6 MB 561.8 kB/s eta 0:00:15
   -------------------- ------------------- 8.4/16.6 MB 561.8 kB/s eta 0:00:15
   -------------------- ------------------- 8.4/16.6 MB 561.8 kB/s eta 0:00:15
   -------------------- ------------------- 8.4/16.6 MB 561.8 kB/s eta 0:00:15
   -------------------- ------------------- 8.7/16.6 MB 545.6 kB/s eta 0:00:15
   -------------------- ------------------- 8.7/16.6 MB 545.6 kB/s eta 0:00:15
   -------------------- ------------------- 8.7/16.6 MB 545.6 kB/s eta 0:00:15
   -------------------- ------------------- 8.7/16.6 MB 545.6 kB/s eta 0:00:15
   --------------------- ------------------ 8.9/16.6 MB 528.8 kB/s eta 0:00:15
   --------------------- ------------------ 8.9/16.6 MB 528.8 kB/s eta 0:00:15
   --------------------- ------------------ 8.9/16.6 MB 528.8 kB/s eta 0:00:15
   --------------------- ------------------ 8.9/16.6 MB 528.8 kB/s eta 0:00:15
   --------------------- ------------------ 8.9/16.6 MB 528.8 kB/s eta 0:00:15
   --------------------- ------------------ 8.9/16.6 MB 528.8 kB/s eta 0:00:15
   ---------------------- ----------------- 9.2/16.6 MB 508.0 kB/s eta 0:00:15
   ---------------------- ----------------- 9.2/16.6 MB 508.0 kB/s eta 0:00:15
   ---------------------- ----------------- 9.2/16.6 MB 508.0 kB/s eta 0:00:15
   ---------------------- ----------------- 9.4/16.6 MB 503.6 kB/s eta 0:00:15
   ---------------------- ----------------- 9.4/16.6 MB 503.6 kB/s eta 0:00:15
   ----------------------- ---------------- 9.7/16.6 MB 503.4 kB/s eta 0:00:14
   ----------------------- ---------------- 9.7/16.6 MB 503.4 kB/s eta 0:00:14
   ----------------------- ---------------- 9.7/16.6 MB 503.4 kB/s eta 0:00:14
   ----------------------- ---------------- 9.7/16.6 MB 503.4 kB/s eta 0:00:14
   ----------------------- ---------------- 9.7/16.6 MB 503.4 kB/s eta 0:00:14
   ----------------------- ---------------- 9.7/16.6 MB 503.4 kB/s eta 0:00:14
   ------------------------ --------------- 10.0/16.6 MB 483.9 kB/s eta 0:00:14
   ------------------------ --------------- 10.0/16.6 MB 483.9 kB/s eta 0:00:14
   ------------------------ --------------- 10.0/16.6 MB 483.9 kB/s eta 0:00:14
   ------------------------ --------------- 10.0/16.6 MB 483.9 kB/s eta 0:00:14
   ------------------------ --------------- 10.0/16.6 MB 483.9 kB/s eta 0:00:14
   ------------------------ --------------- 10.2/16.6 MB 475.8 kB/s eta 0:00:14
   ------------------------ --------------- 10.2/16.6 MB 475.8 kB/s eta 0:00:14
   ------------------------- -------------- 10.5/16.6 MB 475.0 kB/s eta 0:00:13
   ------------------------- -------------- 10.5/16.6 MB 475.0 kB/s eta 0:00:13
   ------------------------- -------------- 10.5/16.6 MB 475.0 kB/s eta 0:00:13
   ------------------------- -------------- 10.7/16.6 MB 476.5 kB/s eta 0:00:13
   ------------------------- -------------- 10.7/16.6 MB 476.5 kB/s eta 0:00:13
   -------------------------- ------------- 11.0/16.6 MB 479.9 kB/s eta 0:00:12
   --------------------------- ------------ 11.3/16.6 MB 483.3 kB/s eta 0:00:11
   --------------------------- ------------ 11.3/16.6 MB 483.3 kB/s eta 0:00:11
   --------------------------- ------------ 11.5/16.6 MB 487.8 kB/s eta 0:00:11
   ---------------------------- ----------- 11.8/16.6 MB 492.6 kB/s eta 0:00:10
   ---------------------------- ----------- 11.8/16.6 MB 492.6 kB/s eta 0:00:10
   ----------------------------- ---------- 12.1/16.6 MB 497.0 kB/s eta 0:00:10
   ----------------------------- ---------- 12.1/16.6 MB 497.0 kB/s eta 0:00:10
   ----------------------------- ---------- 12.3/16.6 MB 498.7 kB/s eta 0:00:09
   ----------------------------- ---------- 12.3/16.6 MB 498.7 kB/s eta 0:00:09
   ------------------------------ --------- 12.6/16.6 MB 499.3 kB/s eta 0:00:08
   ------------------------------ --------- 12.6/16.6 MB 499.3 kB/s eta 0:00:08
   ------------------------------ --------- 12.6/16.6 MB 499.3 kB/s eta 0:00:08
   ------------------------------- -------- 12.8/16.6 MB 499.5 kB/s eta 0:00:08
   ------------------------------- -------- 12.8/16.6 MB 499.5 kB/s eta 0:00:08
   ------------------------------- -------- 12.8/16.6 MB 499.5 kB/s eta 0:00:08
   ------------------------------- -------- 12.8/16.6 MB 499.5 kB/s eta 0:00:08
   ------------------------------- -------- 13.1/16.6 MB 493.4 kB/s eta 0:00:07
   ------------------------------- -------- 13.1/16.6 MB 493.4 kB/s eta 0:00:07
   ------------------------------- -------- 13.1/16.6 MB 493.4 kB/s eta 0:00:07
   -------------------------------- ------- 13.4/16.6 MB 489.9 kB/s eta 0:00:07
   -------------------------------- ------- 13.4/16.6 MB 489.9 kB/s eta 0:00:07
   -------------------------------- ------- 13.4/16.6 MB 489.9 kB/s eta 0:00:07
   -------------------------------- ------- 13.6/16.6 MB 487.6 kB/s eta 0:00:07
   -------------------------------- ------- 13.6/16.6 MB 487.6 kB/s eta 0:00:07
   -------------------------------- ------- 13.6/16.6 MB 487.6 kB/s eta 0:00:07
   -------------------------------- ------- 13.6/16.6 MB 487.6 kB/s eta 0:00:07
   --------------------------------- ------ 13.9/16.6 MB 484.1 kB/s eta 0:00:06
   --------------------------------- ------ 13.9/16.6 MB 484.1 kB/s eta 0:00:06
   --------------------------------- ------ 13.9/16.6 MB 484.1 kB/s eta 0:00:06
   --------------------------------- ------ 13.9/16.6 MB 484.1 kB/s eta 0:00:06
   ---------------------------------- ----- 14.2/16.6 MB 478.2 kB/s eta 0:00:06
   ---------------------------------- ----- 14.2/16.6 MB 478.2 kB/s eta 0:00:06
   ---------------------------------- ----- 14.2/16.6 MB 478.2 kB/s eta 0:00:06
   ---------------------------------- ----- 14.2/16.6 MB 478.2 kB/s eta 0:00:06
   ---------------------------------- ----- 14.2/16.6 MB 478.2 kB/s eta 0:00:06
   ---------------------------------- ----- 14.2/16.6 MB 478.2 kB/s eta 0:00:06
   ---------------------------------- ----- 14.2/16.6 MB 478.2 kB/s eta 0:00:06
   ---------------------------------- ----- 14.2/16.6 MB 478.2 kB/s eta 0:00:06
   ---------------------------------- ----- 14.2/16.6 MB 478.2 kB/s eta 0:00:06
   ---------------------------------- ----- 14.4/16.6 MB 438.4 kB/s eta 0:00:05
   ---------------------------------- ----- 14.4/16.6 MB 438.4 kB/s eta 0:00:05
   ---------------------------------- ----- 14.4/16.6 MB 438.4 kB/s eta 0:00:05
   ---------------------------------- ----- 14.4/16.6 MB 438.4 kB/s eta 0:00:05
   ---------------------------------- ----- 14.4/16.6 MB 438.4 kB/s eta 0:00:05
   ---------------------------------- ----- 14.4/16.6 MB 438.4 kB/s eta 0:00:05
   ----------------------------------- ---- 14.7/16.6 MB 428.3 kB/s eta 0:00:05
   ----------------------------------- ---- 14.7/16.6 MB 428.3 kB/s eta 0:00:05
   ----------------------------------- ---- 14.7/16.6 MB 428.3 kB/s eta 0:00:05
   ----------------------------------- ---- 14.7/16.6 MB 428.3 kB/s eta 0:00:05
   ----------------------------------- ---- 14.7/16.6 MB 428.3 kB/s eta 0:00:05
   ----------------------------------- ---- 14.7/16.6 MB 428.3 kB/s eta 0:00:05
   ------------------------------------ --- 14.9/16.6 MB 419.7 kB/s eta 0:00:04
   ------------------------------------ --- 14.9/16.6 MB 419.7 kB/s eta 0:00:04
   ------------------------------------ --- 14.9/16.6 MB 419.7 kB/s eta 0:00:04
   ------------------------------------ --- 14.9/16.6 MB 419.7 kB/s eta 0:00:04
   ------------------------------------ --- 14.9/16.6 MB 419.7 kB/s eta 0:00:04
   ------------------------------------ --- 14.9/16.6 MB 419.7 kB/s eta 0:00:04
   ------------------------------------ --- 14.9/16.6 MB 419.7 kB/s eta 0:00:04
   ------------------------------------ --- 15.2/16.6 MB 406.0 kB/s eta 0:00:04
   ------------------------------------ --- 15.2/16.6 MB 406.0 kB/s eta 0:00:04
   ------------------------------------ --- 15.2/16.6 MB 406.0 kB/s eta 0:00:04
   ------------------------------------ --- 15.2/16.6 MB 406.0 kB/s eta 0:00:04
   ------------------------------------- -- 15.5/16.6 MB 405.3 kB/s eta 0:00:03
   ------------------------------------- -- 15.5/16.6 MB 405.3 kB/s eta 0:00:03
   ------------------------------------- -- 15.5/16.6 MB 405.3 kB/s eta 0:00:03
   ------------------------------------- -- 15.5/16.6 MB 405.3 kB/s eta 0:00:03
   ------------------------------------- -- 15.7/16.6 MB 403.3 kB/s eta 0:00:03
   ------------------------------------- -- 15.7/16.6 MB 403.3 kB/s eta 0:00:03
   -------------------------------------- - 16.0/16.6 MB 402.2 kB/s eta 0:00:02
   -------------------------------------- - 16.0/16.6 MB 402.2 kB/s eta 0:00:02
   ---------------------------------------  16.3/16.6 MB 397.6 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.6 MB 397.6 kB/s eta 0:00:01
   ---------------------------------------  16.5/16.6 MB 396.2 kB/s eta 0:00:01
   ---------------------------------------- 16.6/16.6 MB 395.7 kB/s eta 0:00:00
Installing collected packages: pymupdf
Successfully installed pymupdf-1.25.1
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script pymupdf.exe is installed in 'c:\Users\Eman_Ai&Ml\AppData\Local\Programs\Python\Python313\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [11]:
import pymupdf as pdf

In [12]:
import fitz

In [13]:
fitz.open ("sample.pdf")

Document('sample.pdf')

In [14]:
pdf = fitz.open("sample.pdf")

In [15]:
page= pdf.load_page(0)

In [16]:
text= page.get_text()

In [17]:
print(text)

Sample PDF
This is a simple PDF ﬁle. Fun fun fun.
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus facilisis odio sed mi.
Curabitur suscipit. Nullam vel nisi. Etiam semper ipsum ut lectus. Proin aliquam, erat eget
pharetra commodo, eros mi condimentum quam, sed commodo justo quam ut velit.
Integer a erat. Cras laoreet ligula cursus enim. Aenean scelerisque velit et tellus.
Vestibulum dictum aliquet sem. Nulla facilisi. Vestibulum accumsan ante vitae elit. Nulla
erat dolor, blandit in, rutrum quis, semper pulvinar, enim. Nullam varius congue risus.
Vivamus sollicitudin, metus ut interdum eleifend, nisi tellus pellentesque elit, tristique
accumsan eros quam et risus. Suspendisse libero odio, mattis sit amet, aliquet eget,
hendrerit vel, nulla. Sed vitae augue. Aliquam erat volutpat. Aliquam feugiat vulputate nisl.
Suspendisse quis nulla pretium ante pretium mollis. Proin velit ligula, sagittis at, egestas a,
pulvinar quis, nisl.
Pellentesque sit amet lectus. Praesent pulvinar, nunc quis iaculis sagittis, justo quam
lobortis tortor, sed vestibulum dui metus venenatis est. Nunc cursus ligula. Nulla facilisi.
Phasellus ullamcorper consectetuer ante. Duis tincidunt, urna id condimentum luctus, nibh
ante vulputate sapien, id sagittis massa orci ut enim. Pellentesque vestibulum convallis
sem. Nulla consequat quam ut nisl. Nullam est. Curabitur tincidunt dapibus lorem. Proin
velit turpis, scelerisque sit amet, iaculis nec, rhoncus ac, ipsum. Phasellus lorem arcu,
feugiat eu, gravida eu, consequat molestie, ipsum. Nullam vel est ut ipsum volutpat
feugiat. Aenean pellentesque.
In mauris. Pellentesque dui nisi, iaculis eu, rhoncus in, venenatis ac, ante. Ut odio justo,
scelerisque vel, facilisis non, commodo a, pede. Cras nec massa sit amet tortor volutpat
varius. Donec lacinia, neque a luctus aliquet, pede massa imperdiet ante, at varius lorem
pede sed sapien. Fusce erat nibh, aliquet in, eleifend eget, commodo eget, erat. Fusce
consectetuer. Cras risus tortor, porttitor nec, tristique sed, convallis semper, eros. Fusce
vulputate ipsum a mauris. Phasellus mollis. Curabitur sed urna. Aliquam nec sapien non
nibh pulvinar convallis. Vivamus facilisis augue quis quam. Proin cursus aliquet metus.
Suspendisse lacinia. Nulla at tellus ac turpis eleifend scelerisque. Maecenas a pede vitae
enim commodo interdum. Donec odio. Sed sollicitudin dui vitae justo.
Morbi elit nunc, facilisis a, mollis a, molestie at, lectus. Suspendisse eget mauris eu tellus
molestie cursus. Duis ut magna at justo dignissim condimentum. Cum sociis natoque
penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus varius. Ut sit
amet diam suscipit mauris ornare aliquam. Sed varius. Duis arcu. Etiam tristique massa
eget dui. Phasellus congue. Aenean est erat, tincidunt eget, venenatis quis, commodo at,
quam.

In [20]:
%pip install python_docx

Collecting python_docx
  Downloading python_docx-1.1.2-py3-none-any.whl.metadata (2.0 kB)
Collecting lxml>=3.1.0 (from python_docx)
  Downloading lxml-5.3.0-cp313-cp313-win_amd64.whl.metadata (3.9 kB)
Collecting typing-extensions>=4.9.0 (from python_docx)
  Downloading typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Downloading python_docx-1.1.2-py3-none-any.whl (244 kB)
Downloading lxml-5.3.0-cp313-cp313-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/3.8 MB 453.0 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/3.8 MB 453.0 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/3.8 MB 453.0 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/3.8 MB 453.0 kB/s eta 0:00:08
   ----- ---------------------------------- 0.5/3.8 MB 453.0 kB/s eta 0:00:08
   -------- ------------------------------- 0.8/3.8 MB 335.1 kB/s eta 0:00:10
   -------- ------------------------------- 0.8/3.8 MB 335.1 kB/s eta 0:00:10
   -------- ------------------------------- 0.8/3.8 MB 335.1 kB/s eta 0:00:10
   -------- ------------------------------- 0.8/3.8 MB 335.1 kB/s eta 0:00:10
   ---------- ----------------------------- 1.0/3.8 MB 315.1 kB/s eta 0:00:09
   ---------- ----------------------------- 1.0/3.8 MB 315.1 kB/s eta 0:00:09
   ---------- ----------------------------- 1.0/3.8 MB 315.1 kB/s eta 0:00:09
   ---------- ----------------------------- 1.0/3.8 MB 315.1 kB/s eta 0:00:09
   ------------- -------------------------- 1.3/3.8 MB 320.1 kB/s eta 0:00:08
   ------------- -------------------------- 1.3/3.8 MB 320.1 kB/s eta 0:00:08
   ------------- -------------------------- 1.3/3.8 MB 320.1 kB/s eta 0:00:08
   ---------------- ----------------------- 1.6/3.8 MB 335.4 kB/s eta 0:00:07
   ---------------- ----------------------- 1.6/3.8 MB 335.4 kB/s eta 0:00:07
   ---------------- ----------------------- 1.6/3.8 MB 335.4 kB/s eta 0:00:07
   ---------------- ----------------------- 1.6/3.8 MB 335.4 kB/s eta 0:00:07
   ------------------- -------------------- 1.8/3.8 MB 341.7 kB/s eta 0:00:06
   ------------------- -------------------- 1.8/3.8 MB 341.7 kB/s eta 0:00:06
   ------------------- -------------------- 1.8/3.8 MB 341.7 kB/s eta 0:00:06
   --------------------- ------------------ 2.1/3.8 MB 346.3 kB/s eta 0:00:05
   --------------------- ------------------ 2.1/3.8 MB 346.3 kB/s eta 0:00:05
   --------------------- ------------------ 2.1/3.8 MB 346.3 kB/s eta 0:00:05
   --------------------- ------------------ 2.1/3.8 MB 346.3 kB/s eta 0:00:05
   --------------------- ------------------ 2.1/3.8 MB 346.3 kB/s eta 0:00:05
   --------------------- ------------------ 2.1/3.8 MB 346.3 kB/s eta 0:00:05
   ------------------------ --------------- 2.4/3.8 MB 316.7 kB/s eta 0:00:05
   ------------------------ --------------- 2.4/3.8 MB 316.7 kB/s eta 0:00:05
   ------------------------ --------------- 2.4/3.8 MB 316.7 kB/s eta 0:00:05
   ------------------------ --------------- 2.4/3.8 MB 316.7 kB/s eta 0:00:05
   --------------------------- ------------ 2.6/3.8 MB 317.0 kB/s eta 0:00:04
   --------------------------- ------------ 2.6/3.8 MB 317.0 kB/s eta 0:00:04
   --------------------------- ------------ 2.6/3.8 MB 317.0 kB/s eta 0:00:04
   ------------------------------ --------- 2.9/3.8 MB 327.0 kB/s eta 0:00:03
   ------------------------------ --------- 2.9/3.8 MB 327.0 kB/s eta 0:00:03
   ------------------------------ --------- 2.9/3.8 MB 327.0 kB/s eta 0:00:03
   ------------------------------ --------- 2.9/3.8 MB 327.0 kB/s eta 0:00:03
   -------------------------------- ------- 3.1/3.8 MB 323.3 kB/s eta 0:00:03
   -------------------------------- ------- 3.1/3.8 MB 323.3 kB/s eta 0:00:03
   -------------------------------- ------- 3.1/3.8 MB 323.3 kB/s eta 0:00:03
   ----------------------------------- ---- 3.4/3.8 MB 328.1 kB/s eta 0:00:02
   ----------------------------------- ---- 3.4/3.8 MB 328.1 kB/s eta 0:00:02
   ----------------------------------- ---- 3.4/3.8 MB 328.1 kB/s eta 0:00:02
   -------------------------------------- - 3.7/3.8 MB 333.7 kB/s eta 0:00:01
   -------------------------------------- - 3.7/3.8 MB 333.7 kB/s eta 0:00:01
   -------------------------------------- - 3.7/3.8 MB 333.7 kB/s eta 0:00:01
   -------------------------------------- - 3.7/3.8 MB 333.7 kB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 323.4 kB/s eta 0:00:00
Downloading typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Installing collected packages: typing-extensions, lxml, python_docx
Successfully installed lxml-5.3.0 python_docx-1.1.2 typing-extensions-4.12.2
Note: you may need to restart the kernel to use updated packages.

In [23]:
from docx import Document

In [25]:
document= Document ("demo.docx")

In [26]:
print (document.paragraphs)

[<docx.text.paragraph.Paragraph object at 0x000002653BEC9BE0>, <docx.text.paragraph.Paragraph object at 0x000002653BEE87D0>, <docx.text.paragraph.Paragraph object at 0x000002653BEE9BD0>, <docx.text.paragraph.Paragraph object at 0x0000026539CCDCD0>, <docx.text.paragraph.Paragraph object at 0x000002653BEC48A0>, <docx.text.paragraph.Paragraph object at 0x000002653A1CD5B0>, <docx.text.paragraph.Paragraph object at 0x000002653BEEE250>, <docx.text.paragraph.Paragraph object at 0x000002653BEEE470>, <docx.text.paragraph.Paragraph object at 0x000002653A766250>, <docx.text.paragraph.Paragraph object at 0x000002653A766B50>, <docx.text.paragraph.Paragraph object at 0x000002653BF549B0>, <docx.text.paragraph.Paragraph object at 0x000002653BF55B80>, <docx.text.paragraph.Paragraph object at 0x000002653BEAE270>, <docx.text.paragraph.Paragraph object at 0x000002653BEAE5F0>, <docx.text.paragraph.Paragraph object at 0x000002653BF7DBF0>, <docx.text.paragraph.Paragraph object at 0x000002653A23BF50>, <docx.text.paragraph.Paragraph object at 0x00000265399E9C10>, <docx.text.paragraph.Paragraph object at 0x000002653BF4DB20>, <docx.text.paragraph.Paragraph object at 0x000002653BF4DBD0>, <docx.text.paragraph.Paragraph object at 0x000002653BF79F90>, <docx.text.paragraph.Paragraph object at 0x000002653BF79090>, <docx.text.paragraph.Paragraph object at 0x000002653BF2B9B0>, <docx.text.paragraph.Paragraph object at 0x000002653BEE2150>, <docx.text.paragraph.Paragraph object at 0x000002653BEE2750>, <docx.text.paragraph.Paragraph object at 0x000002653BF86270>, <docx.text.paragraph.Paragraph object at 0x000002653BF86040>, <docx.text.paragraph.Paragraph object at 0x000002653A5AA750>, <docx.text.paragraph.Paragraph object at 0x000002653BF66690>, <docx.text.paragraph.Paragraph object at 0x000002653BF66090>, <docx.text.paragraph.Paragraph object at 0x000002653BF66390>, <docx.text.paragraph.Paragraph object at 0x000002653BF666F0>, <docx.text.paragraph.Paragraph object at 0x000002653BF65F70>, <docx.text.paragraph.Paragraph object at 0x000002653BF667B0>, <docx.text.paragraph.Paragraph object at 0x000002653BF66810>, <docx.text.paragraph.Paragraph object at 0x000002653BF66870>, <docx.text.paragraph.Paragraph object at 0x000002653BF668D0>, <docx.text.paragraph.Paragraph object at 0x000002653BF66930>, <docx.text.paragraph.Paragraph object at 0x000002653BF66990>, <docx.text.paragraph.Paragraph object at 0x000002653BF669F0>, <docx.text.paragraph.Paragraph object at 0x000002653BF66A50>, <docx.text.paragraph.Paragraph object at 0x000002653BF66AB0>, <docx.text.paragraph.Paragraph object at 0x000002653BF66B10>, <docx.text.paragraph.Paragraph object at 0x000002653BF66B70>, <docx.text.paragraph.Paragraph object at 0x000002653BF66BD0>, <docx.text.paragraph.Paragraph object at 0x000002653BF66C30>, <docx.text.paragraph.Paragraph object at 0x000002653BF66C90>, <docx.text.paragraph.Paragraph object at 0x000002653BF66CF0>, <docx.text.paragraph.Paragraph object at 0x000002653BF66D50>, <docx.text.paragraph.Paragraph object at 0x000002653BF66DB0>, <docx.text.paragraph.Paragraph object at 0x000002653BF66E10>, <docx.text.paragraph.Paragraph object at 0x000002653BF66E70>, <docx.text.paragraph.Paragraph object at 0x000002653BF66ED0>, <docx.text.paragraph.Paragraph object at 0x000002653BF66F30>, <docx.text.paragraph.Paragraph object at 0x000002653BF66F90>, <docx.text.paragraph.Paragraph object at 0x000002653BF66FF0>, <docx.text.paragraph.Paragraph object at 0x000002653BF67050>, <docx.text.paragraph.Paragraph object at 0x000002653BF670B0>, <docx.text.paragraph.Paragraph object at 0x000002653BF67110>, <docx.text.paragraph.Paragraph object at 0x000002653BF67170>, <docx.text.paragraph.Paragraph object at 0x000002653BF671D0>, <docx.text.paragraph.Paragraph object at 0x000002653BF67230>, <docx.text.paragraph.Paragraph object at 0x000002653BF67290>, <docx.text.paragraph.Paragraph object at 0x000002653BF672F0>, <docx.text.paragraph.Paragraph object at 0x000002653BF67350>, <docx.text.paragraph.Paragraph object at 0x000002653BF673B0>, <docx.text.paragraph.Paragraph object at 0x000002653BF67410>, <docx.text.paragraph.Paragraph object at 0x000002653BF67470>, <docx.text.paragraph.Paragraph object at 0x000002653BF674D0>, <docx.text.paragraph.Paragraph object at 0x000002653BF67530>, <docx.text.paragraph.Paragraph object at 0x000002653BF67590>, <docx.text.paragraph.Paragraph object at 0x000002653BF675F0>, <docx.text.paragraph.Paragraph object at 0x000002653BF67650>, <docx.text.paragraph.Paragraph object at 0x000002653BF676B0>, <docx.text.paragraph.Paragraph object at 0x000002653BF67710>, <docx.text.paragraph.Paragraph object at 0x000002653BF67770>, <docx.text.paragraph.Paragraph object at 0x000002653BF677D0>, <docx.text.paragraph.Paragraph object at 0x000002653BF67830>, <docx.text.paragraph.Paragraph object at 0x000002653BF67890>, <docx.text.paragraph.Paragraph object at 0x000002653BF678F0>, <docx.text.paragraph.Paragraph object at 0x000002653BF67950>, <docx.text.paragraph.Paragraph object at 0x000002653BF679B0>, <docx.text.paragraph.Paragraph object at 0x000002653BF67A10>, <docx.text.paragraph.Paragraph object at 0x000002653BF67A70>, <docx.text.paragraph.Paragraph object at 0x000002653BF67AD0>, <docx.text.paragraph.Paragraph object at 0x000002653BF67B30>, <docx.text.paragraph.Paragraph object at 0x000002653BF67B90>, <docx.text.paragraph.Paragraph object at 0x000002653BF67BF0>, <docx.text.paragraph.Paragraph object at 0x000002653BF67C50>, <docx.text.paragraph.Paragraph object at 0x000002653BF67CB0>, <docx.text.paragraph.Paragraph object at 0x000002653BF67D10>]

In [28]:
for p in document.paragraphs:
    print(p.text)

Demonstration of DOCX support in calibre
This document demonstrates the ability of the calibre DOCX Input plugin to convert the various typographic features in a Microsoft Word (2007 and newer) document. Convert this document to a modern ebook format, such as AZW3 for Kindles or EPUB for other ebook readers, to see it in action.
There is support for images, tables, lists, footnotes, endnotes, links, dropcaps and various types of text and paragraph level formatting.
To see the DOCX conversion in action, simply add this file to calibre using the “Add Books” button and then click “Convert”.  Set the output format in the top right corner of the conversion dialog to EPUB or AZW3 and click “OK”.

Text Formatting
Inline formatting
Here, we demonstrate various types of inline text formatting and the use of embedded fonts.
Here is some bold, italic, bold-italic, underlined and struck out  text. Then, we have a superscript and a subscript. Now we see some red, green and blue text. Some text with a yellow highlight. Some text in a box. Some text in inverse video.
A paragraph with styled text: subtle emphasis  followed by strong text and intense emphasis. This paragraph uses document wide styles for styling rather than inline text properties as demonstrated in the previous paragraph — calibre can handle both with equal ease.
Fun with fonts
This document has embedded the Ubuntu font family. The body text is in the Ubuntu typeface, here is some text in the Ubuntu Mono typeface, notice how every letter has the same width, even i and m. Every embedded font will automatically be embedded in the output ebook during conversion.
Paragraph level formatting
You can do crazy things with paragraphs, if the urge strikes you. For instance this paragraph is right aligned and has a right border. It has also been given a light gray background.
For the lovers of poetry amongst you, paragraphs with hanging indents, like this often come in handy. You can use hanging indents to ensure that a line of poetry retains its individual identity as a line even when the screen is  too narrow to display it as a single line. Not only does this paragraph have a hanging indent, it is also has an extra top margin, setting it apart from the preceding paragraph.
Tables
Tables in Word can vary from the extremely simple to the extremely complex. calibre tries to do its best when converting tables. While you may run into trouble with the occasional table, the vast majority of common cases should be converted very well, as demonstrated in this section. Note that for optimum results, when creating tables in Word, you should set their widths using percentages, rather than absolute units.  To the left of this paragraph is a floating two column table with a nice green border and header row.
Now let’s look at a fancier table—one with alternating row colors and partial borders. This table is stretched out to take 100% of the available width.

Next, we see a table with special formatting in various locations. Notice how the formatting for the header row and sub header rows is preserved.
Source: Fictitious data, for illustration purposes only
Next, we have something a little more complex, a nested table, i.e. a table inside another table. Additionally, the inner table has some of its cells merged. The table is displayed horizontally centered.

We end with a fancy calendar, note how much of the original formatting is preserved. Note that this table will only display correctly on relatively wide screens. In general, very wide tables or tables whose cells have fixed width requirements don’t fare well in ebooks.
Structural Elements
Miscellaneous structural elements you can add to your document, like footnotes, endnotes, dropcaps and the like.
Footnotes & Endnotes
Footnotes and endnotes are automatically recognized and both are converted to endnotes, with backlinks for maximum ease of use in ebook devices.
Dropcaps
D
rop caps are used to emphasize the leading paragraph at the start of a section. In Word it is possible to specify how many lines of text a drop-cap should use. Because of limitations in ebook technology, this is not possible when converting.  Instead, the converted drop cap will use font size and line height to simulate the effect as well as possible. While not as good as the original, the result is usually tolerable. This paragraph has a “D” dropcap set to occupy three lines of text with a font size of 58.5 pts. Depending on the screen width and capabilities of the device you view the book on, this dropcap can look anything from perfect to ugly.
Links
Two kinds of links are possible, those that refer to an external website and those that refer to locations inside the document itself. Both are supported by calibre. For example, here is a link pointing to the calibre download page. Then we have a link that points back to the section on paragraph level formatting in this document.
Table of Contents
There are two approaches that calibre takes when generating a Table of Contents. The first is if the Word document has a Table of Contents itself. Provided that the Table of Contents uses hyperlinks, calibre will automatically use it. The levels of the Table of Contents are identified by their left indent, so if you want the ebook to have a multi-level Table of Contents, make sure you create a properly indented Table of Contents in Word.
If no Table of Contents is found in the document, then a table of contents is automatically generated from the headings in the document. A heading is identified as something that has the Heading 1 or Heading 2, etc. style applied to it. These headings are turned into a Table of Contents with Heading 1 being the topmost level, Heading 2 the second level and so on.
 You can see the Table of Contents created by calibre by clicking the Table of Contents button in whatever viewer you are using to view the converted ebook.
Demonstration of DOCX support in calibre	1
Text Formatting	2
Inline formatting	2
Fun with fonts	2
Paragraph level formatting	2
Tables	3
Structural Elements	5
Footnotes & Endnotes	5
Dropcaps	5
Links	5
Table of Contents	5
Images	7
Lists	8
Bulleted List	8
Numbered List	8
Multi-level Lists	8
Continued Lists	8


Images
Images can be of three main types. Inline images are images that are part of the normal text flow, like this image of a green dot . Inline images do not cause breaks in the text and are usually small in size. The next category of image is a floating image, one that “floats “ on the page and is surrounded by text. Word supports more types of floating images than are possible with current ebook technology, so the conversion maps floating images to simple left and right floats, as you can see with the left and right arrow images on the sides of this paragraph.
The final type of image is a “block” image, one that becomes a paragraph on its own and has no text on either side. Below is a centered green dot.
Centered images like this are useful for large pictures that should be a focus of attention.
Generally, it is not possible to translate the exact positioning of images from a Word document to an ebook. That is because in Word, image positioning is specified in absolute units from the page boundaries.  There is no analogous technology in ebooks, so the conversion will usually end up placing the image either centered or floating close to the point in the text where it was inserted, not necessarily where it appears on the page in Word.
Lists
All types of lists are supported by the conversion, with the exception of lists that use fancy bullets, these get converted to regular bullets.
Bulleted List
One
Two
Numbered List
One, with a very long line to demonstrate that the hanging indent for the list is working correctly
Two
Multi-level Lists
One
Two
Three
Four with a very long line to demonstrate that the hanging indent for the list is working correctly.
Five
Six
A Multi-level list with bullets:
One
Two
This bullet uses an image as the bullet item
Four
Five
Continued Lists
One
Two
An interruption in our regularly scheduled listing, for this essential and very relevant public service announcement.
We now resume our normal programming
Four