<center>

Name: Naveed Ftaima

Email: naveedfatimaumer@gmail.com

Github: [github.com/NaveedFatima](http://github.com/naveedfatima)

Purpose of your Document: Machine Learning
</center>

##### Loading Libraries

In [1]:
# Loading Libraries

In [2]:
#library install
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\naveed_ai&ml\appdata\roaming\python\python313\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\naveed_ai&ml\appdata\roaming\python\python313\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\naveed_ai&ml\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\naveed_ai&ml\appdata\roaming\python\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\naveed_ai&ml\appdata\roaming\python\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\naveed_ai&ml\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
#importing libraries
import pandas as pd

#### Loading datasets

In [ ]:
#Loading csv file
pd.read_csv("data.cs")

             Name Designation Gender    Age    Salary
0         Mukhtar  Prrofessor      M   37.0  115000.0
1            Aziz     Teacher      M   30.0   35000.0
2          Mohsin    Engineer      M   29.0   50000.0
3   Naveed Fatima     Analyst      F   30.0   70000.0
4           Babar    Engineer      F   25.0  150000.0
5            Aqsa   Scientist      F   22.0       NaN
6          Rafia      Analyst      F   29.0   20000.0
7           Samra   Scientist      F   26.0  115000.0
8           Eman     Engineer      F   28.0   35000.0
9        Abdullah     Teacher      M   55.0       NaN
10          Mosib   Professor      M   60.0   70000.0
11          Ahmed    Engineer      M    NaN   90000.0
12          Ahsan     trainer      M  156.0  110000.0
13          Wajid     Teacher      M   67.0    2000.0
14          Naeem     trainer      M   80.0   16000.0
15         Qaisar  Prrofessor      M   20.0  170000.0
16          Wajid    Engineer      M   85.0  190000.0

In [7]:
df=pd.read_csv("data.csv")

#### preview dataset

In [8]:
df

             Name Designation Gender    Age    Salary
0         Mukhtar  Prrofessor      M   37.0  115000.0
1            Aziz     Teacher      M   30.0   35000.0
2          Mohsin    Engineer      M   29.0   50000.0
3   Naveed Fatima     Analyst      F   30.0   70000.0
4           Babar    Engineer      F   25.0  150000.0
5            Aqsa   Scientist      F   22.0       NaN
6          Rafia      Analyst      F   29.0   20000.0
7           Samra   Scientist      F   26.0  115000.0
8           Eman     Engineer      F   28.0   35000.0
9        Abdullah     Teacher      M   55.0       NaN
10          Mosib   Professor      M   60.0   70000.0
11          Ahmed    Engineer      M    NaN   90000.0
12          Ahsan     trainer      M  156.0  110000.0
13          Wajid     Teacher      M   67.0    2000.0
14          Naeem     trainer      M   80.0   16000.0
15         Qaisar  Prrofessor      M   20.0  170000.0
16          Wajid    Engineer      M   85.0  190000.0

In [9]:
%pip install pandas openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\naveed_ai&ml\appdata\roaming\python\python313\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\naveed_ai&ml\appdata\roaming\python\python313\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\naveed_ai&ml\appdata\roaming\python\python313\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\naveed_ai&ml\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\naveed_ai&ml\appdata\roaming\python\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\naveed_ai&ml\appdata\roaming\python\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: et-xmlfile in c:\users\naveed_ai&ml\appdata\roaming\python\python313\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\naveed_ai&ml\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
pd.read_excel("data.xlsx")

             Name Designation Gender    Age    Salary
0         Mukhtar  Prrofessor      M   37.0  115000.0
1            Aziz     Teacher      M   30.0   35000.0
2          Mohsin    Engineer      M   29.0   50000.0
3   Naveed Fatima     Analyst      F   30.0   70000.0
4           Babar    Engineer      F   25.0  150000.0
5            Aqsa   Scientist      F   22.0       NaN
6          Rafia      Analyst      F   29.0   20000.0
7           Samra   Scientist      F   26.0  115000.0
8           Eman     Engineer      F   28.0   35000.0
9        Abdullah     Teacher      M   55.0       NaN
10          Mosib   Professor      M   60.0   70000.0
11          Ahmed    Engineer      M    NaN   90000.0
12          Ahsan     trainer      M  156.0  110000.0
13          Wajid     Teacher      M   67.0    2000.0
14          Naeem     trainer      M   80.0   16000.0
15         Qaisar  Prrofessor      M   20.0  170000.0
16          Wajid    Engineer      M   85.0  190000.0

In [14]:
# display the top rows

In [15]:
df.head()

            Name Designation Gender   Age    Salary
0        Mukhtar  Prrofessor      M  37.0  115000.0
1           Aziz     Teacher      M  30.0   35000.0
2         Mohsin    Engineer      M  29.0   50000.0
3  Naveed Fatima     Analyst      F  30.0   70000.0
4          Babar    Engineer      F  25.0  150000.0

In [16]:
df.head(7)

            Name Designation Gender   Age    Salary
0        Mukhtar  Prrofessor      M  37.0  115000.0
1           Aziz     Teacher      M  30.0   35000.0
2         Mohsin    Engineer      M  29.0   50000.0
3  Naveed Fatima     Analyst      F  30.0   70000.0
4          Babar    Engineer      F  25.0  150000.0
5           Aqsa   Scientist      F  22.0       NaN
6         Rafia      Analyst      F  29.0   20000.0

In [17]:
# show bottom rows

In [18]:
df.tail()

      Name Designation Gender    Age    Salary
12   Ahsan     trainer      M  156.0  110000.0
13   Wajid     Teacher      M   67.0    2000.0
14   Naeem     trainer      M   80.0   16000.0
15  Qaisar  Prrofessor      M   20.0  170000.0
16   Wajid    Engineer      M   85.0  190000.0

In [19]:
df.tail(6)

      Name Designation Gender    Age    Salary
11   Ahmed    Engineer      M    NaN   90000.0
12   Ahsan     trainer      M  156.0  110000.0
13   Wajid     Teacher      M   67.0    2000.0
14   Naeem     trainer      M   80.0   16000.0
15  Qaisar  Prrofessor      M   20.0  170000.0
16   Wajid    Engineer      M   85.0  190000.0

In [22]:
df.iloc[8:10]

       Name Designation Gender   Age   Salary
8     Eman     Engineer      F  28.0  35000.0
9  Abdullah     Teacher      M  55.0      NaN

In [3]:
%pip install pymupdf

Defaulting to user installation because normal site-packages is not writeable
Collecting pymupdf
  Downloading pymupdf-1.25.1-cp39-abi3-win_amd64.whl.metadata (3.4 kB)
Downloading pymupdf-1.25.1-cp39-abi3-win_amd64.whl (16.6 MB)
   ---------------------------------------- 0.0/16.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.6 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.6 MB 2.9 MB/s eta 0:00:06
   - -------------------------------------- 0.5/16.6 MB 2.9 MB/s eta 0:00:06
   - -------------------------------------- 0.5/16.6 MB 2.9 MB/s eta 0:00:06
   - -------------------------------------- 0.5/16.6 MB 2.9 MB/s eta 0:00:06
   - -------------------------------------- 0.8/16.6 MB 667.5 kB/s eta 0:00:24
   - -------------------------------------- 0.8/16.6 MB 667.5 kB/s eta 0:00:24
   - -------------------------------------- 0.8/16.6 MB 667.5 kB/s eta 0:00:24
   -- ------------------------------------- 1.0/16.6 MB 537.3 kB/s eta 0:00:29
   -- ------------------------------------- 1.0/16.6 MB 537.3 kB/s eta 0:00:29
   -- ------------------------------------- 1.0/16.6 MB 537.3 kB/s eta 0:00:29
   --- ------------------------------------ 1.3/16.6 MB 525.3 kB/s eta 0:00:30
   --- ------------------------------------ 1.3/16.6 MB 525.3 kB/s eta 0:00:30
   --- ------------------------------------ 1.6/16.6 MB 533.7 kB/s eta 0:00:29
   --- ------------------------------------ 1.6/16.6 MB 533.7 kB/s eta 0:00:29
   ---- ----------------------------------- 1.8/16.6 MB 553.7 kB/s eta 0:00:27
   ----- ---------------------------------- 2.1/16.6 MB 576.1 kB/s eta 0:00:26
   ----- ---------------------------------- 2.1/16.6 MB 576.1 kB/s eta 0:00:26
   ----- ---------------------------------- 2.4/16.6 MB 598.5 kB/s eta 0:00:24
   ------ --------------------------------- 2.6/16.6 MB 621.4 kB/s eta 0:00:23
   ------ --------------------------------- 2.6/16.6 MB 621.4 kB/s eta 0:00:23
   ------ --------------------------------- 2.9/16.6 MB 632.4 kB/s eta 0:00:22
   ------ --------------------------------- 2.9/16.6 MB 632.4 kB/s eta 0:00:22
   ------- -------------------------------- 3.1/16.6 MB 619.7 kB/s eta 0:00:22
   ------- -------------------------------- 3.1/16.6 MB 619.7 kB/s eta 0:00:22
   -------- ------------------------------- 3.4/16.6 MB 617.6 kB/s eta 0:00:22
   -------- ------------------------------- 3.4/16.6 MB 617.6 kB/s eta 0:00:22
   -------- ------------------------------- 3.7/16.6 MB 621.1 kB/s eta 0:00:21
   -------- ------------------------------- 3.7/16.6 MB 621.1 kB/s eta 0:00:21
   --------- ------------------------------ 3.9/16.6 MB 629.3 kB/s eta 0:00:21
   ---------- ----------------------------- 4.2/16.6 MB 640.4 kB/s eta 0:00:20
   ---------- ----------------------------- 4.2/16.6 MB 640.4 kB/s eta 0:00:20
   ---------- ----------------------------- 4.5/16.6 MB 652.3 kB/s eta 0:00:19
   ----------- ---------------------------- 4.7/16.6 MB 664.8 kB/s eta 0:00:18
   ------------ --------------------------- 5.0/16.6 MB 676.7 kB/s eta 0:00:18
   ------------ --------------------------- 5.0/16.6 MB 676.7 kB/s eta 0:00:18
   ------------ --------------------------- 5.2/16.6 MB 688.8 kB/s eta 0:00:17
   ------------- -------------------------- 5.5/16.6 MB 702.1 kB/s eta 0:00:16
   ------------- -------------------------- 5.8/16.6 MB 714.9 kB/s eta 0:00:16
   -------------- ------------------------- 6.0/16.6 MB 727.2 kB/s eta 0:00:15
   --------------- ------------------------ 6.3/16.6 MB 735.3 kB/s eta 0:00:14
   --------------- ------------------------ 6.6/16.6 MB 742.9 kB/s eta 0:00:14
   --------------- ------------------------ 6.6/16.6 MB 742.9 kB/s eta 0:00:14
   ---------------- ----------------------- 6.8/16.6 MB 751.3 kB/s eta 0:00:13
   ----------------- ---------------------- 7.1/16.6 MB 759.5 kB/s eta 0:00:13
   ----------------- ---------------------- 7.3/16.6 MB 769.0 kB/s eta 0:00:12
   ----------------- ---------------------- 7.3/16.6 MB 769.0 kB/s eta 0:00:12
   ------------------ --------------------- 7.6/16.6 MB 757.4 kB/s eta 0:00:12
   ------------------ --------------------- 7.6/16.6 MB 757.4 kB/s eta 0:00:12
   ------------------ --------------------- 7.6/16.6 MB 757.4 kB/s eta 0:00:12
   ------------------ --------------------- 7.9/16.6 MB 736.2 kB/s eta 0:00:12
   ------------------ --------------------- 7.9/16.6 MB 736.2 kB/s eta 0:00:12
   ------------------ --------------------- 7.9/16.6 MB 736.2 kB/s eta 0:00:12
   ------------------- -------------------- 8.1/16.6 MB 723.8 kB/s eta 0:00:12
   ------------------- -------------------- 8.1/16.6 MB 723.8 kB/s eta 0:00:12
   ------------------- -------------------- 8.1/16.6 MB 723.8 kB/s eta 0:00:12
   ------------------- -------------------- 8.1/16.6 MB 723.8 kB/s eta 0:00:12
   -------------------- ------------------- 8.4/16.6 MB 696.4 kB/s eta 0:00:12
   -------------------- ------------------- 8.4/16.6 MB 696.4 kB/s eta 0:00:12
   -------------------- ------------------- 8.4/16.6 MB 696.4 kB/s eta 0:00:12
   -------------------- ------------------- 8.7/16.6 MB 680.1 kB/s eta 0:00:12
   -------------------- ------------------- 8.7/16.6 MB 680.1 kB/s eta 0:00:12
   -------------------- ------------------- 8.7/16.6 MB 680.1 kB/s eta 0:00:12
   -------------------- ------------------- 8.7/16.6 MB 680.1 kB/s eta 0:00:12
   -------------------- ------------------- 8.7/16.6 MB 680.1 kB/s eta 0:00:12
   -------------------- ------------------- 8.7/16.6 MB 680.1 kB/s eta 0:00:12
   -------------------- ------------------- 8.7/16.6 MB 680.1 kB/s eta 0:00:12
   -------------------- ------------------- 8.7/16.6 MB 680.1 kB/s eta 0:00:12
   -------------------- ------------------- 8.7/16.6 MB 680.1 kB/s eta 0:00:12
   -------------------- ------------------- 8.7/16.6 MB 680.1 kB/s eta 0:00:12
   --------------------- ------------------ 8.9/16.6 MB 600.9 kB/s eta 0:00:13
   --------------------- ------------------ 8.9/16.6 MB 600.9 kB/s eta 0:00:13
   --------------------- ------------------ 8.9/16.6 MB 600.9 kB/s eta 0:00:13
   --------------------- ------------------ 8.9/16.6 MB 600.9 kB/s eta 0:00:13
   ---------------------- ----------------- 9.2/16.6 MB 583.8 kB/s eta 0:00:13
   ---------------------- ----------------- 9.2/16.6 MB 583.8 kB/s eta 0:00:13
   ---------------------- ----------------- 9.2/16.6 MB 583.8 kB/s eta 0:00:13
   ---------------------- ----------------- 9.4/16.6 MB 578.2 kB/s eta 0:00:13
   ---------------------- ----------------- 9.4/16.6 MB 578.2 kB/s eta 0:00:13
   ---------------------- ----------------- 9.4/16.6 MB 578.2 kB/s eta 0:00:13
   ----------------------- ---------------- 9.7/16.6 MB 573.2 kB/s eta 0:00:12
   ----------------------- ---------------- 9.7/16.6 MB 573.2 kB/s eta 0:00:12
   ------------------------ --------------- 10.0/16.6 MB 571.2 kB/s eta 0:00:12
   ------------------------ --------------- 10.0/16.6 MB 571.2 kB/s eta 0:00:12
   ------------------------ --------------- 10.2/16.6 MB 571.5 kB/s eta 0:00:12
   ------------------------ --------------- 10.2/16.6 MB 571.5 kB/s eta 0:00:12
   ------------------------- -------------- 10.5/16.6 MB 574.0 kB/s eta 0:00:11
   ------------------------- -------------- 10.5/16.6 MB 574.0 kB/s eta 0:00:11
   ------------------------- -------------- 10.7/16.6 MB 577.3 kB/s eta 0:00:11
   ------------------------- -------------- 10.7/16.6 MB 577.3 kB/s eta 0:00:11
   -------------------------- ------------- 11.0/16.6 MB 577.5 kB/s eta 0:00:10
   -------------------------- ------------- 11.0/16.6 MB 577.5 kB/s eta 0:00:10
   --------------------------- ------------ 11.3/16.6 MB 579.0 kB/s eta 0:00:10
   --------------------------- ------------ 11.5/16.6 MB 581.7 kB/s eta 0:00:09
   --------------------------- ------------ 11.5/16.6 MB 581.7 kB/s eta 0:00:09
   ---------------------------- ----------- 11.8/16.6 MB 585.0 kB/s eta 0:00:09
   ----------------------------- ---------- 12.1/16.6 MB 588.8 kB/s eta 0:00:08
   ----------------------------- ---------- 12.1/16.6 MB 588.8 kB/s eta 0:00:08
   ----------------------------- ---------- 12.3/16.6 MB 593.4 kB/s eta 0:00:08
   ----------------------------- ---------- 12.3/16.6 MB 593.4 kB/s eta 0:00:08
   ------------------------------ --------- 12.6/16.6 MB 596.1 kB/s eta 0:00:07
   ------------------------------- -------- 12.8/16.6 MB 598.8 kB/s eta 0:00:07
   ------------------------------- -------- 12.8/16.6 MB 598.8 kB/s eta 0:00:07
   ------------------------------- -------- 13.1/16.6 MB 602.1 kB/s eta 0:00:06
   -------------------------------- ------- 13.4/16.6 MB 605.4 kB/s eta 0:00:06
   -------------------------------- ------- 13.4/16.6 MB 605.4 kB/s eta 0:00:06
   -------------------------------- ------- 13.6/16.6 MB 609.3 kB/s eta 0:00:05
   --------------------------------- ------ 13.9/16.6 MB 611.6 kB/s eta 0:00:05
   --------------------------------- ------ 13.9/16.6 MB 611.6 kB/s eta 0:00:05
   --------------------------------- ------ 13.9/16.6 MB 611.6 kB/s eta 0:00:05
   ---------------------------------- ----- 14.2/16.6 MB 609.7 kB/s eta 0:00:04
   ---------------------------------- ----- 14.2/16.6 MB 609.7 kB/s eta 0:00:04
   ---------------------------------- ----- 14.4/16.6 MB 609.9 kB/s eta 0:00:04
   ---------------------------------- ----- 14.4/16.6 MB 609.9 kB/s eta 0:00:04
   ----------------------------------- ---- 14.7/16.6 MB 610.8 kB/s eta 0:00:04
   ------------------------------------ --- 14.9/16.6 MB 612.8 kB/s eta 0:00:03
   ------------------------------------ --- 14.9/16.6 MB 612.8 kB/s eta 0:00:03
   ------------------------------------ --- 14.9/16.6 MB 612.8 kB/s eta 0:00:03
   ------------------------------------ --- 15.2/16.6 MB 610.4 kB/s eta 0:00:03
   ------------------------------------ --- 15.2/16.6 MB 610.4 kB/s eta 0:00:03
   ------------------------------------- -- 15.5/16.6 MB 610.5 kB/s eta 0:00:02
   ------------------------------------- -- 15.5/16.6 MB 610.5 kB/s eta 0:00:02
   ------------------------------------- -- 15.7/16.6 MB 608.0 kB/s eta 0:00:02
   ------------------------------------- -- 15.7/16.6 MB 608.0 kB/s eta 0:00:02
   ------------------------------------- -- 15.7/16.6 MB 608.0 kB/s eta 0:00:02
   ------------------------------------- -- 15.7/16.6 MB 608.0 kB/s eta 0:00:02
   -------------------------------------- - 16.0/16.6 MB 600.1 kB/s eta 0:00:01
   -------------------------------------- - 16.0/16.6 MB 600.1 kB/s eta 0:00:01
   -------------------------------------- - 16.0/16.6 MB 600.1 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.6 MB 594.9 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.6 MB 594.9 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.6 MB 594.9 kB/s eta 0:00:01
   ---------------------------------------- 16.6/16.6 MB 591.8 kB/s eta 0:00:00
Installing collected packages: pymupdf
Successfully installed pymupdf-1.25.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import fitz

In [20]:
pdf_document=fitz.open('dummy.pdf')
page=pdf_document.load_page(0)

In [21]:
text=page.get_text()
print(text)

Dummy PDF file

In [22]:
import json

In [31]:
with open('sample1.json', 'r') as file:
    data = json.load(file)

In [32]:
print(data)

{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}

In [33]:
%pip install python_docx

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Collecting python_docx
  Downloading python_docx-1.1.2-py3-none-any.whl.metadata (2.0 kB)
Collecting lxml>=3.1.0 (from python_docx)
  Downloading lxml-5.3.0-cp313-cp313-win_amd64.whl.metadata (3.9 kB)
Collecting typing-extensions>=4.9.0 (from python_docx)
  Downloading typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Downloading python_docx-1.1.2-py3-none-any.whl (244 kB)
Downloading lxml-5.3.0-cp313-cp313-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/3.8 MB 1.2 MB/s eta 0:00:03
   -------- ------------------------------- 0.8/3.8 MB 1.1 MB/s eta 0:00:03
   ---------- ----------------------------- 1.0/3.8 MB 1.1 MB/s eta 0:00:03
   ------------- -------------------------- 1.3/3.8 MB 1.0 MB/s eta 0:00:03
   ------------- -------------------------- 1.3/3.8 MB 1.0 MB/s eta 0:00:03
   ---------------- ----------------------- 1.6/3.8 MB 1.0 MB/s eta 0:00:03
   ------------------- -------------------- 1.8/3.8 MB 1.0 MB/s eta 0:00:02
   --------------------- ------------------ 2.1/3.8 MB 1.1 MB/s eta 0:00:02
   ------------------------ --------------- 2.4/3.8 MB 1.1 MB/s eta 0:00:02
   --------------------------- ------------ 2.6/3.8 MB 1.1 MB/s eta 0:00:02
   ------------------------------ --------- 2.9/3.8 MB 1.1 MB/s eta 0:00:01
   -------------------------------- ------- 3.1/3.8 MB 1.1 MB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 1.1 MB/s eta 0:00:00
Downloading typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Installing collected packages: typing-extensions, lxml, python_docx
Successfully installed lxml-5.3.0 python_docx-1.1.2 typing-extensions-4.12.2

In [34]:
import docx

In [35]:
doc = docx.Document('docx.docx')

In [38]:
for p in doc.paragraphs:
    print(p.text)

The text in a Word document is more than just a string. It has font, size, color, and other styling information associated with it. A style in Word is a collection of these attributes. A Run object is a contiguous run of text with the same style. A new Run object is needed whenever the text style changes.
Reading Word Documents