In [1]:
print("hello,world!")

hello,world!

## Python Indentation

In [7]:
if 5 > 2:
  print("five is greater than two!")

five is greater than two!

In [8]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [9]:
if 5 > 2:
 print("Five is greater than two!") 
        print("Five is greater than two!")

IndentationError: unexpected indent (2445290715.py, line 3)

In [10]:
if 5 > 2:
  print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [12]:
if 5 > 2:
print("Five is greater than two!") 
if 5 > 2:
 print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (640221301.py, line 2)

## Python Variables

In [13]:
x = 5
y = "Hello, World!"

In [14]:
print(x,y)

5 Hello, World!

In [17]:
#this is command
print("hello,world!")

hello,world!

## Python Comments

In [18]:
print("Hello, World!") #This is a comment

Hello, World!

In [19]:
print("samra,rafia,naveed!") #this is a names

samra,rafia,naveed!

In [20]:
#print("hello,world!")
print("hello,world!")

hello,world!

## Multiline Comments

In [21]:
#this is comment
#have one line 
#to show
print("single log!")

single log!

## Creating Variables

In [23]:
x=5
y= "five"
print(x)
print(y)

5
five

In [25]:
x= 4 #this is random number
x="naveed" #this is string
print(x)

naveed

## casting

In [26]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [28]:
print(x)
print(y)
print(z)

3
3
3.0

## get the type

In [29]:
x=5
y="naveed"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [35]:
s="NAVEED"
#this is same as
s='NAVEED'

In [31]:
s

'kookie'

## Case-Sensitive

In [42]:
a = 4
A = "naveed"
#A will not overwrite a

In [43]:
print(a)

4

In [44]:
print(a)
print(A)

4
naveed

## Variable Names

In [36]:
myvar = "naveed"
print(myvar)

naveed

In [37]:
my_var = "naveed"
print(my_var)

naveed

In [38]:
_my_var = "naveed"
print(my_var)

naveed

In [39]:
myVar="naveed"
print(myVar)

naveed

In [40]:
MYVAR="NAVEED"
print(MYVAR)

NAVEED

In [41]:
myvar2="naveed"
print(myvar2)

naveed

# Multi Words Variable Names

## camel case

In [45]:
myVariableName="john"
print(myVariableName)

john

## pascal case

In [46]:
MyVaraibleName="naveed"
print(MyVaraibleName)

naveed

## SNAKE CASE

In [47]:
my_variable_name="naveed"
print(my_variable_name)

naveed